body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
      padding:0;
      margin:0;
      background-color:#519D90;
  }
  
  /* Global */
  .container{
     margin-left: 50px;
  
  }
  
  ul{
   margin-top: -10px;
  
  }
  
  /* Header **/
  header{
    background:#82363A;
    color:#bdbcb0;
    padding-top:30px;
    min-height:70px;
    border-bottom:#020105 10px solid;
  }
  
  header a{
    color:cornsilk;
    text-decoration:inherit;
    text-transform:uppercase ;
    font-size:auto;
  }
  
  header li{
    float:right;
    display: inline-block;
    padding: 15px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin: 5px;
    font-size: 35px;
  }
  
  header nav{
    float:right;
    margin-top:18px;
  }
  
  header .highlight, header .current a{
    color:#200f10;
    font-weight: 20px;
    
  }
  
  header a:hover{
    color: #878697;
    font-weight:20px;
  }
  
  footer{
    padding:20px;
      margin-top:20px;
      color:#ffffff;
      background-color:#82363A;
      text-align: center;
      text-align: center;
  
  
